.*
!.dockerignore
!.storybook
!.circle
!.eslintrc
!.gitignore
!.github
!.babelrc
!.plop
!.jest
!.linguirc
!.prettierrc
!.prettierignore
!.tx
dist
node_modules
src/locales/_build
cypress/integration/examples*
cypress/videos
cypress/screenshots
cypress/fixtures/example.json
